<%-include('./partials/head')%>
<body>
    <header>
        <%-include('./partials/nav')%>
    </header>
    <main>
        <article id="first">
            <a href="/post/<%=data[0].id%>"><img src=<%= data[0].url %> alt=""></a>
            <a href="/post/<%=data[0].id%>">
                <h1><%= data[0].title %> </h1>
            </a>
        </article>
        <section id="all-posts">
            <article class="posts">
                <h2>All articles</h2>
                <div class="grid">
                    <% for( let i = 1; i < data.length; i++ ) { %>
                    <div>
                        <a href="/post/<%=data[i].id%>"><img src=<%= data[i].url %> alt=""></a>
                        <a href="/post/<%=data[i].id%>">
                            <p><%= data[i].title %> </p>
                        </a>
                    </div>
                    <% } %>
                </div>
            </article>
        </section>
</body>